<!DOCTYPE html>
<html>
<head>
     <title>learnSEO</title>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <link rel="stylesheet" type="text/css" href="css/app.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="https://cdn.elegantthemes.com/style.css?ver=4.6" />
      <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
      <link rel="shortcut icon" type="image/x-icon" href="https://cdn.elegantthemes.com/favicon.ico" /> 
      <script src="js/html5.js" type="text/javascript"></script>
      
      <style type="text/css">
img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: 1em !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 1em !important;

}
</style>
</head>
<body class="home blog et_bloom safari et_monarch">
  <div id="main-nav">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/basicsseo">SEO Basics</a></li>
        <li><a href="/seostrategies">Strategies</a></li>
         <li><a href="/onoffpage">On-Off Pages</a></li>
       </ul>
      </nav>
    </div>

      <div id="main-area">
      <div class="container">
      <div id="content-area" class="clearfix">
        <div id="left-area" class="clearfix">
           <article id="post-55976" class="entry et_box et_box_1_2 clearfix post-55976 post type-post status-publish format-standard has-post-thumbnail hentry category-divi-resources">
              <h2 class="title entry-title"><a href="" title="" align="center">Search Engine Optimization(SEO)</a></h2>
              <p class="meta-info">Posted  on <span class="published updated">July 20, 2017</span> by <a href="" title="" rel="">Johanna</a> <a>|</a></p>
                  <div class="post-thumbnail">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ33nckUr5OzqvY4haymV0EA_IKC3BfZDSw0q1mggoWtJTBvpEt" alt="" />
                  </div> 
                        <p class="entry-summary"><b><font size="5" color="#00CED1">It is an approach of systems, procedures and strategies used to expand the measure of guests to a site by acquiring a high-positioning situation in the indexed lists page of a web index — including Google, Bing, Yahoo and other web indexes.</b></font>
                        </p>      
                           <p><b><font size="4" color="red">History</font></b></p>
Webmasters and content providers began optimizing sites for search engines in the mid-1990s, as the first search engines were cataloging the early Web. Initially, all webmasters needed only to submit the address of a page, or URL, to the various engines which would send a "spider" to "crawl" that page, extract links to other pages from it, and return information found on the page to be indexed.[5] The process involves a search engine spider downloading a page and storing it on the search engine's own server. A second program, known as an indexer, extracts information about the page, such as the words it contains, where they are located, and any weight for specific words, as well as all links the page contains. All of this information is then placed into a scheduler for crawling at a later date.
<p>
Site owners recognized the value of a high ranking and visibility in search engine results,[6] creating an opportunity for both white hat and black hat SEO practitioners. According to industry analyst Danny Sullivan, the phrase "search engine optimization" probably came into use in 1997. Sullivan credits Bruce Clay as one of the first people to popularize the term.[7] On May 2, 2007,[8] Jason Gambert attempted to trademark the term SEO by convincing the Trademark Office in Arizona[9] that SEO is a "process" involving manipulation of keywords and not a "marketing service."</p>

<p>Early versions of search algorithms relied on webmaster-provided information such as the keyword meta tag or index files in engines like ALIWEB. Meta tags provide a guide to each page's content. Using meta data to index pages was found to be less than reliable, however, because the webmaster's choice of keywords in the meta tag could potentially be an inaccurate representation of the site's actual content. Inaccurate, incomplete, and inconsistent data in meta tags could and did cause pages to rank for irrelevant searches.[10][dubious – discuss] Web content providers also manipulated some attributes within the HTML source of a page in an attempt to rank well in search engines.[11]</p>

<p>By 1997, search engine designers recognized that webmasters were making efforts to rank well in their search engine, and that some webmasters were even manipulating their rankings in search results by stuffing pages with excessive or irrelevant keywords. Early search engines, such as Altavista and Infoseek, adjusted their algorithms in an effort to prevent webmasters from manipulating rankings.[12]</p>

<p>By relying so much on factors such as keyword density which were exclusively within a webmaster's control, early search engines suffered from abuse and ranking manipulation. To provide better results to their users, search engines had to adapt to ensure their results pages showed the most relevant search results, rather than unrelated pages stuffed with numerous keywords by unscrupulous webmasters. This meant moving away from heavy reliance on term density to a more holistic process for scoring semantic signals.[13] Since the success and popularity of a search engine is determined by its ability to produce the most relevant results to any given search, poor quality or irrelevant search results could lead users to find other search sources. Search engines responded by developing more complex ranking algorithms, taking into account additional factors that were more difficult for webmasters to manipulate.</p>

<p>In 2005, an annual conference, AIRWeb, Adversarial Information Retrieval on the Web was created to bring together practitioners and researchers concerned with search engine optimization and related topics.[14]</p>

<p>Companies that employ overly aggressive techniques can get their client websites banned from the search results. In 2005, the Wall Street Journal reported on a company, Traffic Power, which allegedly used high-risk techniques and failed to disclose those risks to its clients.[15] Wired magazine reported that the same company sued blogger and SEO Aaron Wall for writing about the ban.[16] Google's Matt Cutts later confirmed that Google did in fact ban Traffic Power and some of its clients.[17]</p>

<p>Some search engines have also reached out to the SEO industry, and are frequent sponsors and guests at SEO conferences, chats, and seminars. Major search engines provide information and guidelines to help with site optimization.[18][19] Google has a Sitemaps program to help webmasters learn if Google is having any problems indexing their website and also provides data on Google traffic to the website.[20] Bing Webmaster Tools provides a way for webmasters to submit a sitemap and web feeds, allows users to determine the crawl rate, and track the web pages index status.</p>  
</article>
 <div id="copyright">
  <p id="company_copyright">Copyright &copy; 2017 Johanna &reg;</p>
</div>
</body>
</html>