<!DOCTYPE html>
<html>
<head>
	   <title>learnSEO</title>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <link rel="stylesheet" type="app.css" href="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     
      <style type="text/css">
img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: 1em !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 1em !important;
}
</style>
</head>
<body class="home blog et_bloom safari et_monarch">
  <div id="main-nav">
    <nav>
      <ul>
        <li><a>Home</a></li>
        <li><a>Related Articles</a></li>
         <li><a>Other Preferences</a></li>
       </ul>
      </nav>
    </div>

      <div id="main-area">
      <div class="container">
      <div id="content-area" class="clearfix">
        <div id="left-area" class="clearfix">
           <article id="post-55976" class="entry et_box et_box_1_2 clearfix post-55976 post type-post status-publish format-standard has-post-thumbnail hentry category-divi-resources">
              <h2 class="title entry-title"><a href="" title="" align="center">On-Page vs. Off-Page(SEO)</a></h2>
              <p class="meta-info">Posted  on <span class="published updated">July 20, 2017</span> by <a href="" title="" rel="">Johanna</a> <a>|</a></p>
                  <div class="post-thumbnail">
                  <img src="https://qph.ec.quoracdn.net/main-qimg-9bdb3aac7b094635a2ef23b8df6d41e1-c" alt="" />
                  </div>   
                           <p>
                           Optimization of websites is a very important strategy to deliver the best results. SEO or search engine optimization using the best proven strategies helps to make business websites appealing to search engines. This in turn improves the ranking and enables the website to appear among the top ranking websites on search engine result pages. On page SEO deals with aspects on your website that can be optimized for search engines. Off page SEO involves aspects on other websites on the internet that can be optimized to improve the ranking of your website on leading search engines. It’s important to understand the difference between on page and off page SEO. As an IT Student, I can see a huge difference between On page and Off page is that Both were giving results to clients upon searchng but OFF page rely on another link to see result while On Page has all the result within a single page.</p>

                           <p><b>Which One is More Important?</b></p>
                          It's not about choosing between on and off-page SEO.  That would be like choosing between a foundation or a roof if you had decide which to use for your house. On-page and off-page SEO work together to improve your search engine rankings in complementary fashion; however, SEOs generally advise getting your on-page SEO ducks in a row before focusing too much on off-page SEO. Just like building a house, you want to set the foundation first before building the rest of the house.  Like a foundation, you may need to come back and do some maintenance to your on-page SEO from time to time. Balancing the two will help make your website "bilingual" so that your users can understand it as well as the search engine robots- and that's how your rankings start to improve.

</article>
 <div id="copyright">
  <p id="company_copyright">Copyright &copy; 2017 Johanna &reg;</p>
</div>
</body>
</html>